
UnityProject/Library
UnityProject/Temp
UnityProject/UserSettings
UnityProject/Logs
.DS_Store
UnityProject/UnityProject.sln
UnityProject/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UnityProject/Assembly-CSharp.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/UnityProject.sln
UnityProject/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UnityProject/Assembly-CSharp.csproj
UnityProject/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UnityProject/UnityProject.sln
